<div class="posts">
  <% @posts.each do |p| %>
    <%= render 'show', :post => p %>
  <% end %>
</div>

<% if @posts.size > 0 %>
  <% content_for(:sidebar) do -%>
    <ul class="nav nav-list">
    <% @posts.each do |p| %>
      <li><%= link_to p.title, p %></li>
    <% end %>
    </ul>
  <% end %>
<% end %>