/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'bootstrap/bootstrap';

@font-face {
    font-family: 'OpenSansCondensedLight';
    src: font-url('open-sans-condensed-fontfacekit/OpenSans-CondLight-webfont.eot');
    src: font-url('open-sans-condensed-fontfacekit/OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('open-sans-condensed-fontfacekit/OpenSans-CondLight-webfont.woff') format('woff'),
         font-url('open-sans-condensed-fontfacekit/OpenSans-CondLight-webfont.ttf') format('truetype'),
         font-url('open-sans-condensed-fontfacekit/OpenSans-CondLight-webfont.svg#OpenSansCondensedLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansCondensedLightItalic';
    src: font-url('open-sans-condensed-fontfacekit/OpenSans-CondLightItalic-webfont.eot');
    src: font-url('open-sans-condensed-fontfacekit/OpenSans-CondLightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('open-sans-condensed-fontfacekit/OpenSans-CondLightItalic-webfont.woff') format('woff'),
         font-url('open-sans-condensed-fontfacekit/OpenSans-CondLightItalic-webfont.ttf') format('truetype'),
         font-url('open-sans-condensed-fontfacekit/OpenSans-CondLightItalic-webfont.svg#OpenSansCondensedLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansCondensedBold';
    src: font-url('open-sans-condensed-fontfacekit/OpenSans-CondBold-webfont.eot');
    src: font-url('open-sans-condensed-fontfacekit/OpenSans-CondBold-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('open-sans-condensed-fontfacekit/OpenSans-CondBold-webfont.woff') format('woff'),
         font-url('open-sans-condensed-fontfacekit/OpenSans-CondBold-webfont.ttf') format('truetype'),
         font-url('open-sans-condensed-fontfacekit/OpenSans-CondBold-webfont.svg#OpenSansCondensedBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChunkFiveRegular';
    src: font-url('ChunkFive-fontfacekit/Chunkfive-webfont.eot');
    src: font-url('ChunkFive-fontfacekit/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('ChunkFive-fontfacekit/Chunkfive-webfont.woff') format('woff'),
         font-url('ChunkFive-fontfacekit/Chunkfive-webfont.ttf') format('truetype'),
         font-url('ChunkFive-fontfacekit/Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  font: 18px/27px 'OpenSansCondensedLight';
  color: #666;
  padding-top: 80px;
}

.header {
  padding: 10px;
  background-image: none;
  background-color: #96b670;
  border: 1px solid #96c770;
  font: 36px/50px 'ChunkFiveRegular';
  @include border-radius(5px);
  @include box-shadow(0 2px 8px rgba(200,200,200,0.7));
  
  .brand {
    color: #EED;
    text-shadow: 1px 2px #666;
  }
}

.sidebar {
  padding: 1%;
  background-color: rgba(150,184,144, 0.3);
  @include box-shadow(2px 2px 8px rgba(200,200,200,0.9));
  min-height: 450px;
  border: 1px solid #DED;
  
  .nav-list {
    li {
      padding: 5px;

      a {
        text-align: center;
        padding: 8px;
        color: #555;
        font-size: 13px;
      }

      & ~ li {
        border-top: 1px solid #ACA;
      }
      
    }
    
  }
}

.content {
  padding: 1%;
}

.new_post {
  .content {
    width: 90%;
  }
}

.post {
  h3 {
    background-color: rgb(252,252,242);
    border: 1px solid #DDD;
    padding: 8px;
  }
  
  & ~ .post {
    margin-top: 10px;
  }
  
  color: #777;
  padding: 10px 0;
  font-size: 14px;
}

.actions {
  padding: 10px;
  font-weight: bold;
  background-color: rgb(240,240,240);
  border: 1px solid #DDD;
  @include box-shadow(0 2px 8px rgba(200,200,200,0.4));
  @include border-radius(5px);
  
  a {
    color: #AAA;
    text-decoration: underline;
  }
}