/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'bootstrap/bootstrap';

body {
  font-family: helvetica;
  font-size: 11px;
  color: #666;
  padding-top: 80px;
}

.header {
  color: #9C231F;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 1.5%;
  margin-right: 1.5%;
  @include gradient-vertical(rgb(15, 174, 201), rgb(65, 224, 231));
}

.sidebar {
  padding: 1%;
}

.content {
  padding: 1%;
}