/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'bootstrap/bootstrap';

body {
  font-family: helvetica;
  font-size: 11px;
  color: #666;
  padding-top: 80px;
}

.header {
  padding: 10px;
  margin: 10px 20px;
  background-image: none;
  background-color: #96b670;
  border: 1px solid #DDD;
  @include border-radius(5px);
  @include box-shadow(0 2px 8px rgba(200,200,200,0.7));
  
  .brand {
    color: #FFE;
    text-shadow: 1px 2px #333;
  }
}

.sidebar {
  padding: 1%;
  background-color: rgba(150,184,144, 0.3);
  @include box-shadow(2px 2px 8px rgba(200,200,200,0.9));
  min-height: 450px;
  
  .nav-list li {
    padding: 5px;
    
    a {
      display: block;
      text-align: center;
      padding: 8px;
      color: #555;
      font-size: 13px;
    }
    
  }
}

.content {
  padding: 1%;
}

.new_post {
  .content {
    width: 90%;
  }
}

.post {
  color: #777;
  padding: 20px;
  font-size: 14px;
  background-color: rgb(252,252,242);
}